
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'font-awesome/scss/font-awesome';

@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,900);

/**
 * App-wide Styles
 */

$primary-color: #3f51b5;
$primary-color-light: #c5cae9;
$primary-color-dark: #303f9f;
$accent-color: #ff3d00;
$font-stack: 'Roboto', sans-serif;
$navbar-height: 40px;
$regular-transition-duration: 200ms;
$regular-transition: all ease-in-out $regular-transition-duration;

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

html,
body{
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: 0;
    padding: 0;
    font-family: $font-stack;
    background: #fff;
}

.main-wrapper,
.main-panel,
.side-panel-wrapper{
    width: 100%;
    height: 100%;
}
.main-panel{
    transition: $regular-transition;
}

.side-panel-wrapper{
    box-sizing: border-box;
    padding-left: $navbar-height;
    position: absolute;
    top: 0;
    left: 0;
    transition: background ease-in-out $regular-transition-duration 50ms, transform linear 0 $regular-transition-duration;
    transform: translate3d(100%, 0, 0);
    background: rgba(0,0,0,0);
}
.side-panel{
    background: #fff;
    height: 100%;
    transform: translate3d(100%, 0, 0);
    transition: $regular-transition 50ms;
}
.side-panel-header{
    width: 100%;
    height: $navbar-height;
    background: $primary-color;
    color: #fff;
    display: table;
}
.side-panel-close-wrapper,
.side-panel-title{
    display: table-cell;
    font-weight: normal;
    font-size: 1em;
    vertical-align: middle;
}
.side-panel-title{
    padding-left: 10px;
}
.side-panel-close-wrapper{
    $button-width: $navbar-height/4*3;
    padding: 0 10px;
    min-width: $button-width;
    width: $button-width;
    max-width: $button-width;
}

.side-panel-open{
    .main-panel{
        transform: translate3d(-$navbar-height, 0, 0);
    }
    .side-panel-wrapper{
        background: rgba(0,0,0,0.1);
        transform: translate3d(0, 0, 0);
        transition: background ease-in-out $regular-transition-duration 50ms, transform linear 0 0;
    }
    .side-panel{
        transform: translate3d(0, 0, 0);
        box-shadow: 0 0 10px rgba(0,0,0,0.3);
    }
}

.views-container{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding-top: $navbar-height;

    &.ng-enter,
    &.ng-leave {
        transition: $regular-transition;
    }

    &.ng-leave{
        transform: translate3d(0,0,0);
    }
    &.ng-leave.ng-leave-active{
        transform: translate3d(-100%,0,0);
    }
    &.ng-enter {
        transform: translate3d(100%,0,0);
    }
    &.ng-enter.ng-enter-active {
        transform: translate3d(0,0,0);
    }
}
.back{
    .views-container{
        &.ng-leave{
            transform: translate3d(0,0,0);
        }
        &.ng-leave.ng-leave-active{
            transform: translate3d(100%,0,0);
        }
        &.ng-enter {
            transform: translate3d(-100%,0,0);
        }
        &.ng-enter.ng-enter-active {
            transform: translate3d(0,0,0);
        }
    }
}

.btn{
    box-sizing: border-box;
    padding: 5px 10px;
    margin: 0;
    border: none;
    background: transparent;
    color: inherit;
    border-radius: 2px;

    &:focus{
        outline: none;
        background: rgba(255, 255, 255, 0.2);
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}

// Component styles are injected through grunt
// injector
@import 'main/main.scss';
@import 'new-match/new-match.scss';
@import 'navbar/navbar.scss';
@import 'navbarTitle/navbarTitle.scss';
// endinjector
