
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'font-awesome/scss/font-awesome';

@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,900);

/**
 * App-wide Styles
 */

$primary-color: #3f51b5;
$primary-color-light: #c5cae9;
$primary-color-dark: #303f9f;
$accent-color: #ff3d00;
$font-stack: 'Roboto', sans-serif;
$navbar-height: 40px;

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

html,
body{
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: 0;
    padding: 0;
    font-family: $font-stack;
}

.views-container{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding-top: $navbar-height;

    &.ng-enter,
    &.ng-leave {
        transition:all ease-in-out 300ms;
    }

    &.ng-leave{
        transform: translate3d(0,0,0);
    }
    &.ng-leave.ng-leave-active{
        transform: translate3d(-100%,0,0);
    }
    &.ng-enter {
        transform: translate3d(100%,0,0);
    }
    &.ng-enter.ng-enter-active {
        transform: translate3d(0,0,0);
    }
}



/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}

// Component styles are injected through grunt
// injector
@import 'main/main.scss';
@import 'new-match/new-match.scss';
@import 'navbar/navbar.scss';
@import 'navbarTitle/navbarTitle.scss';
// endinjector
