$navbar-left-space: $navbar-height;
$button-width: $navbar-height/4*3;
.navbar{
	background: $primary-color-dark;
	color: #fff;
	height: $navbar-height;
	position: relative;
	z-index: 100;

	.btn{
		display: block;
		width: $button-width;
		padding: 5px 0;
	}
}
.navbar-container{
	display: table;
	width: 100%;
	height: 100%;
}
.navbar-left-container{
	display: table-cell;
	vertical-align: middle;
	padding: 0 10px;
	min-width: $button-width;
	width: $button-width;
	max-width: $button-width;
}
.back-button{
	display: block;
	margin: auto;
	opacity: 1;
	transform: translate3d(0, 0, 0);

	&.ng-hide,
	&.ng-hide-remove{
		transition: $regular-transition;
	}

	&.ng-hide{
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
	&.ng-hide.ng-hide-add-active{
		opacity: 0;
		transform: translate3d(0, $navbar-height, 0);
	}
	&.ng-hide-remove {
		opacity: 0;
		transform: translate3d(0, -$navbar-height, 0);
	}
	&.ng-hide-remove.ng-hide-remove-active{
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

.navbar-header,
.navbar-right-container{
	vertical-align: middle;
	display: table-cell;
}
.navbar-right-container{
	padding: 0 10px;

	text-align: right;
	.btn-container{
		position: relative;
		display: inline-block;
		vertical-align: middle;
		text-align: center;
		width: $button-width;

		&.ng-enter,
		&.ng-leave {
			transition: $regular-transition;
		}

		&.ng-leave{
			opacity: 1;
			width: $button-width;
			transform: rotateY(0);
		}
		&.ng-leave.ng-leave-active{
			opacity: 0;
			width: 0;
			transform: rotateY(90deg);
		}
		&.ng-enter {
			opacity: 0;
			width: 0;
			transform: rotateY(-90deg);
		}
		&.ng-enter.ng-enter-active {
			opacity: 1;
			width: $button-width;
			transform: rotateY(0);
		}
	}
}

//animation in the back case
.back{
	.back-button{
		&.ng-hide{
			opacity: 1;
			transform: translate3d(0, 0, 0);
		}
		&.ng-hide.ng-hide-add-active{
			opacity: 0;
			transform: translate3d(0, -$navbar-height, 0);
		}
		&.ng-hide-remove {
			opacity: 0;
			transform: translate3d(0, $navbar-height, 0);
		}
		&.ng-hide-remove.ng-hide-remove-active{
			opacity: 1;
			transform: translate3d(0, 0, 0);
		}
	}
}
