.navbarTitle-wrapper{
	position: relative;
	overflow: hidden;
	height: $navbar-height;
}
.navbarTitle{
	position: absolute;
	font-weight: normal;
	top: 0;
	left: 0;
	line-height: $navbar-height;
	font-size: 1em;
	margin: 0;
	opacity: 1;

	&.ng-enter,
	&.ng-leave {
		transition: $regular-transition;
	}

	&.ng-leave{
		opacity: 1;
		transform: translate3d(0,0,0);
	}
	&.ng-leave.ng-leave-active{
		opacity: 0;
		transform: translate3d(0, $navbar-height, 0);
	}
	&.ng-enter {
		opacity: 0;
		transform: translate3d(0, -$navbar-height, 0);
	}
	&.ng-enter.ng-enter-active {
		opacity: 1;
		transform: translate3d(0,0,0);
	}

}
.back{
	.navbarTitle{
		&.ng-leave{
			opacity: 1;
			transform: translate3d(0,0,0);
		}
		&.ng-leave.ng-leave-active{
			opacity: 0;
			transform: translate3d(0, -$navbar-height, 0);
		}
		&.ng-enter {
			opacity: 0;
			transform: translate3d(0, $navbar-height, 0);
		}
		&.ng-enter.ng-enter-active {
			opacity: 1;
			transform: translate3d(0,0,0);
		}
	}
}
