.match-wrapper,
.match-background{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.match-wrapper{
	background: $dark-color;
	color: $light-color;
}

//////////////////////////////////
// The background
//////////////////////////////////
.match-background{

	$border-size: 1px;

	//mid-field line
	&::before{
		content: '';
		position: absolute;
		display: block;
		box-sizing: border-box;
		border: $border-size solid $dark-color-lighter;
		top: 50%;
		left: 0;
		width: 100%;
		margin-top: -$border-size;
	}
}
.background-team-side{
	position: absolute;
	top: 0;
	height: 100%;
	width: 50px;

	&.team-1{
		left: 0;
		background: linear-gradient(to right, rgba($team1-color, 0.2) 0%,rgba($team1-color, 0) 100%);
	}
	&.team-2{
		right: 0;
		background: linear-gradient(to left, rgba($team2-color, 0.2) 0%,rgba($team2-color, 0) 100%);
	}
}




//////////////////////////////
// the match
//////////////////////////////
.match{
	position: relative;
	height: 100%
}
$circle-size: 240px;
.match-info,
.match-btn-action{
	position: absolute;
	left: 50%;
	top: 50%;
	width: $circle-size;
	height: $circle-size;
	margin: -$circle-size / 2;
	box-sizing: border-box;
	border-radius: $circle-size;
	text-align: center;
}
.match-info{
	background: $dark-color;
	border: 2px solid $dark-color-lightest;
	z-index: 100;
}

.match-score-wrapper{
	font-size: 5em;
	font-weight: 100;
	line-height: $circle-size - 40px;
}
.match-timer-wrapper{
	font-size: 1em;
	margin-top: -50px;
}
.match-btn-action{
	overflow: visible;
	border: none;
	background: transparent;
	cursor: pointer;
	outline: none;
	box-shadow:0 0 0 10px $dark-color-lightest, 0 0 0 20px $dark-color-lighter;
	transition: all 200ms ease-in;
	z-index: 500;

	&:active{
		box-shadow: 0 0 0 50px $dark-color-lightest, 0 0 0 200px $dark-color-lighter;
	}
}
.match-btn-action-content{
	opacity: 0;
	font-family: $font-stack;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	line-height: $circle-size;
	background: $dark-color;
	border-radius: $circle-size;
	font-size: 3em;
	font-weight: 100;
	color: $light-color;
	transition: opacity 200ms ease-in-out;

	&.active{
		opacity: 1;
	}
}

.match-btn-timer{
	$sizeTimer: $circle-size + 40px;

	position: absolute;
	top: -20px;
	left: -20px;
	width: $sizeTimer;
	height: $sizeTimer;
}

$team-spacing: 10px;

.match-team{
	position: absolute;
	top: 0;
	width: 50%;
	height: 100%;
}
.match-player{
	position: absolute;
	height: 40%;
	width: 80%;
	font-size: 2em;
	font-weight: 100;

	.player{
		position: absolute;
		width: 100%;
		height: 60px;
	}
	.player-name,
	.player-position{
		position: absolute;
		width: 100%;
		margin: 0;
	}
	.player-name{
		top: 0;
	}
	.player-position{
		bottom: 0;
	}
}

.player-position{
	font-size: 0.5em;
}

.match-team1{
	left: $team-spacing;
	text-align: left;

	.match-player{
		left: 0;
	}
	.match-player-offence{
		bottom: $team-spacing;

		.player{
			bottom: 0;
		}
	}

	.match-player-defense{
		top: $team-spacing;

		.player{
			top: 0;
		}
	}
}
.match-team2{
	right: $team-spacing;
	text-align: right;

	.match-player{
		right: 0
	}
	.match-player-offence{
		top: $team-spacing;

		.player{
			top: 0;
		}
	}

	.match-player-defense{
		bottom: $team-spacing;

		.player{
			bottom: 0;
		}
	}
}


/////////////////////////////
// The players list dialog
/////////////////////////////
.players-list{
	padding: 0 0 0 30px;
	margin: 0;
	list-style: none;
}
.player-item .player{
	padding: 10px;
	font-size: 1.5em;
	font-weight: 100;
}

/////////////////////////////
// The goals list dialog
/////////////////////////////
.goals-list{
	padding: 0 0 0 30px;
	margin: 0;
	list-style: none;
}
.goal-item{
	padding: 10px;
	font-size: 1.5em;
	font-weight: 100;

	&.against-the-team{
		color: $primary-color;
	}
}
