<div class="match-wrapper">
	<div class="match-background">
		<div class="team-1 background-team-side"></div>
		<div class="team-2 background-team-side"></div>
	</div>
	<section class="match">
		<div class="match-info">
			<div class="match-score-wrapper">
				{{ score | formatScore }}
			</div>
			<div class="match-timer-wrapper">
				<time class="match-timer">{{ timer | formatTime }}</time>
			</div>
		</div>
		<div class="match-btn-action-wrapper">
			<button class="match-btn-action" ng-click="dispatchAction()">
				<span class="match-btn-action-content" ng-class="{'active': buttonActionActive}">{{ buttonActionText }}</span>
				<div class="match-btn-timer" data-timer-circle="timer"></div>
			</button>
		</div>
		<div class="match-teams">
			<div class="match-team match-team1">
				<div class="match-player match-player-offence" ng-drop="true" ng-drop-success="onDropCompletePlayer0($data,$event)">
					<div class="player" ng-drag="true" ng-drag-data="players[0]">
						<p class="player-name">{{ players[0].name }}</p>
						<p class="player-position">{{ players[0].position }}</p>
					</div>
				</div>
				<div class="match-player match-player-defense" ng-drop="true" ng-drop-success="onDropCompletePlayer1($data,$event)">
					<div class="player" ng-drag="true" ng-drag-data="players[1]">
						<p class="player-name">{{ players[1].name }}</p>
						<p class="player-position">{{ players[1].position }}</p>
					</div>
				</div>
			</div>
			<div class="match-team match-team2">
				<div class="match-player match-player-offence" ng-drop="true" ng-drop-success="onDropCompletePlayer2($data,$event)">
					<div class="player" ng-drag="true" ng-drag-data="players[2]">
						<p class="player-name">{{ players[2].name }}</p>
						<p class="player-position">{{ players[2].position }}</p>
					</div>
				</div>
				<div class="match-player match-player-defense" ng-drop="true" ng-drop-success="onDropCompletePlayer3($data,$event)">
					<div class="player" ng-drag="true" ng-drag-data="players[3]">
						<p class="player-name">{{ players[3].name }}</p>
						<p class="player-position">{{ players[3].position }}</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="dialog dialog-players" title="Select Teammates" ng-class="{'active': (matchStatus === 'choose-team')}">
		<div class="dialog-content">
			<ul class="players-list">
				<li class="player-item" ng-repeat="player in playersList" ng-show="!player.selected">
					<div class="player" ng-drag="true" ng-drag-data="player">
						{{ player.name }}
					</div>
				</li>
			</ul>
		</div>
		<footer class="dialog-footer">
			<button class="dialog-close btn" ng-click="dispatchAction()" ng-disabled="!teamsCreated">Close</button>
		</footer>
	</section>
	<section class="dialog dialog-goals" title="New Goal" ng-class="{'active': goalDialog}">
		<div class="dialog-content">
			<ul class="goals-list">
				<li class="goal-item" ng-repeat="goal in goalTypesList">
					<div ng-drag="true" ng-drag-data="goal">{{ goal.name }}</div>
				</li>
				<li class="goal-item against-the-team">
					<div ng-drag="true" ng-drag-data="goalAgainstTheTeam">{{ goalAgainstTheTeam.name }}</div>
				</li>
			</ul>
		</div>
		<footer class="dialog-footer">
			<button class="dialog-close btn" ng-click="goalDialog = false">Close</button>
		</footer>
	</section>
</div>
